body{
background:black;
color:white;
font-family:Arial,sans-serif;
margin:0;
padding:0;
text-align:center;
}

.menu{
background:white;
padding:18px;
box-shadow:0px 2px 8px gray;
}

.menu a{
color:black;
margin:20px;
font-size:18px;
text-decoration:none;
font-weight:bold;
}

.menu a:hover{
color:gray;
}

h1{
font-size:40px;
margin-top:30px;
}

h2{
margin-top:25px;
}

p,ul{
font-size:18px;
line-height:1.6;
}

.box{
background:#111;
width:70%;
margin:25px auto;
padding:20px;
border:2px solid white;
border-radius:12px;
box-shadow:0px 0px 10px gray;
}

img{
width:300px;
height:200px;
border-radius:12px;
border:2px solid white;
margin-top:10px;
}

button{
background:white;
color:black;
padding:12px 20px;
font-size:18px;
border:none;
border-radius:8px;
font-weight:bold;
margin-top:20px;
cursor:pointer;
}

button:hover{
background:lightgray;
}

ul{
list-style-position:inside;
}