body{
background-color:black;
color:white;
font-family:Arial;
margin:0;
padding:0;
}

.menu{
background:white;
padding:20px;
text-align:center;
}

.menu a{
color:black;
margin:25px;
font-size:20px;
text-decoration:none;
font-weight:bold;
}

h1,h2,p,ul{
margin-left:20px;
}

.box{
background:#222;
margin:20px;
padding:20px;
border-radius:10px;
border:2px solid white;
}

img{
width:250px;
height:180px;
border-radius:10px;
border:2px solid white;
}

button{
background:white;
color:black;
border:none;
padding:12px;
font-size:18px;
margin-left:20px;
border-radius:5px;
font-weight:bold;
}

ul{
font-size:18px;
}